@import "../fonts";

.ltx_TOC {
  h6 {
    @include font-heading();
  }

  .ltx_toclist {
    @include font-body();

    margin: 0 0 0 1em;
    padding: 0;
    list-style-type: none;
  }
}

// give some space in the part TOC's
.ltx_part .ltx_para + .ltx_TOC {
    margin: 2em 0 0 0;
}
