// Only top-level figures, not subfigures
.ltx_figure {
  margin: 4rem 0;

  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  .ltx_caption {
    margin-top: 1em;
  }
}

.ltx_figure .ltx_figure {
    margin: 2em 0;
}

.ltx_graphics {
    background-color: white;
    padding: 10px;
    max-width: 90%;
}
