// Don't use alpha, because borders mix together
$borderColor: black;
$darkThemeBorderColor: #DDD;
$lightBorderColor: lighten(black, 50%);

$secondaryBackground: darken(white, 5%);

$linkLightColor: #6669B7;
$linkDarkColor: #9EA0D1;
